doctype html
h3 super_admin_login
    form(action='/super_admin_login', method='POST')
        | email :
        input(type='text', name='email')
        | password :
        input(type='text', name='password')
        input(type='submit', value='submit')
h3 user_login_via_access_token
    form(action='/user_login_via_access_token', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 dashboard_report
    form(action='/dashboard_report', method='POST')
        | admin_access_token :
        input(type='text', name='admin_access_token')
        | start_time :
        input(type='text', name='start_time')
        | end_time :
        input(type='text', name='end_time')
        input(type='submit', value='submit')
h3 view_all_users_new
    form(action='/view_all_users_new', method='POST')
        | admin_access_token :
        input(type='text', name='admin_access_token')
        input(type='submit', value='submit')
h3 view_all_fleets_of_user_new
    form(action='/view_all_fleets_of_user_new', method='POST')
        | admin_access_token :
        input(type='text', name='admin_access_token')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 view_all_jobs_of_user_new
    form(action='/view_all_jobs_of_user_new', method='POST')
        | admin_access_token :
        input(type='text', name='admin_access_token')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 view_all_dispatchers_of_user_new
    form(action='/view_all_dispatchers_of_user_new', method='POST')
        | admin_access_token :
        input(type='text', name='admin_access_token')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 Deduct_Individuals_Payment
    form(action='/deduct_individual_payment', method='POST')
        | user_id :
        input(type='text', name='user_id')
        | amount :
        input(type='text', name='amount')
        | desc :
        input(type='text', name='desc')
        | invoice_number :
        input(type='text', name='invoice_number')
        | billing_plan :
        input(type='text', name='billing_plan')
        | unit_price :
        input(type='text', name='unit_price')
        | quantity :
        input(type='text', name='quantity')
        input(type='submit', value='submit')