h3 HEAT_MAP_TASKS
    form(action='/heat_map_tasks', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | start_datetime :
        input(type='text', name='start_datetime')
        | end_datetime :
        input(type='text', name='end_datetime')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 HEAT_MAP_ANALYTICS
    form(action='/heat_map_analytics', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | start_datetime :
        input(type='text', name='start_datetime')
        | end_datetime :
        input(type='text', name='end_datetime')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 EFFICIENCY_REPORT
    form(action='/efficiency_report', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | start_datetime :
        input(type='text', name='start_datetime')
        | end_datetime :
        input(type='text', name='end_datetime')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 EFFECTIVENESS_REPORT
    form(action='/effectiveness_report', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | start_datetime :
        input(type='text', name='start_datetime')
        | end_datetime :
        input(type='text', name='end_datetime')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')