h3 BILLING
    form(action='/enable_billing_popup', method='POST')
        | email :
        input(type='text', name='email')
        input(type='submit', value='submit')
h3 DEDUCT_MONTHLY_PAYMENT
    form(action='/deduct_monthly_payment', method='POST')
        input(type='submit', value='submit')
h3 SKIP BILLING POPUP
    form(action='/skip_billing_popup', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | skip_popup :
        input(type='text', name='skip_popup')
        input(type='submit', value='submit')
h3 ADD CREDIT CARD
    form(action='/add_credit_card', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | stripe_token :
        input(type='text', name='stripe_token')
        | billing_plan :
        input(type='text', name='billing_plan')
        input(type='submit', value='submit')
h3 UPDATE CREDIT CARD
    form(action='/update_credit_card', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | stripe_token :
        input(type='text', name='stripe_token')
        input(type='submit', value='submit')
h3 Create Stripe Token
    form(action='/create_token', method='POST')
        input(type='submit', value='submit')
h3 Change Billing Plan
    form(action='/change_billing_plan', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | billing_plan :
        input(type='text', name='billing_plan')
        input(type='submit', value='submit')
h3 BILLING_HISTORY
    form(action='/billing_history', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 DEACTIVATE FLEET ACCOUNTS
    form(action='/deactive_fleet_account', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | billing_plan :
        input(type='text', name='billing_plan')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        input(type='submit', value='submit')
h3 mail_to_deactivate_customers
    form(action='/mail_to_deactivate_customers', method='POST')
        input(type='submit', value='submit')






