h3 GET_ESTIMATE_TIME_BETWEEN_ADDRESS
    form(action='/getETA', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | pickup_address :
        input(type='text', name='pickup_address')
        | delivery_address :
        input(type='text', name='delivery_address')
        input(type='submit', value='submit')
h3 CHECK_AVAILABILITY
    form(action='/check_fleet_availability', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | pickup_datetime :
        input(type='text', name='pickup_datetime')
        | pickup_address :
        input(type='text', name='pickup_address')
        | delivery_datetime :
        input(type='text', name='delivery_datetime')
        | delivery_address :
        input(type='text', name='delivery_address')
        input(type='submit', value='submit')