doctype html
h3 refresh_client
    form(action='/refresh_client', method='POST')
        input(type='submit', value='submit')
h3 send_template_mail
    form(action='/send_template_mail', method='POST')
        input(type='submit', value='submit')
h3 add_templates
    form(action='/add_templates', method='POST')
        input(type='submit', value='submit')
h3 setDefaultCustomTemplate
    form(action='/set_default_custom_template', method='POST')
        | user_id :
        input(type='text', name='user_id')
        | layout_type :
        input(type='text', name='layout_type')
        input(type='submit', value='submit')
h3 setDefaultAppOptionalFields
    form(action='/setDefaultAppOptionalFields', method='POST')
        input(type='submit', value='submit')
h3 setDefaultTaskOptionalFields
    form(action='/setDefaultTaskOptionalFields', method='POST')
        input(type='submit', value='submit')
h3 getTemplateFromTemplateID
    form(action='/get_template_from_template_id', method='POST')
        | user_id :
        input(type='text', name='user_id')
        | layout_type :
        input(type='text', name='layout_type')
        | template_id :
        input(type='text', name='template_id')
        input(type='submit', value='submit')
h3 setFleetAvgRating
    form(action='/setFleetAvgRating', method='POST')
        input(type='submit', value='submit')
h3 checkGoogleShortenUrl
    form(action='/checkGoogleShortenUrl', method='POST')
        | data :
        input(type='text', name='data')
        input(type='submit', value='submit')
h3 unicommerce
    form(action='/unicommerce', method='POST')
        input(type='submit', value='submit')
h3 heartbeat
    form(action='/heartbeat', method='POST')
        input(type='submit', value='submit')
h3 update_fleet_tags
    form(action='/update_fleet_tags', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | user_id :
        input(type='text', name='user_id')
        | fleet_id :
        input(type='text', name='fleet_id')
        | tags :
        input(type='text', name='tags')
        input(type='submit', value='submit')
h3 refreshVersions
    form(action='/refreshVersions', method='POST')
        input(type='submit', value='submit')

