h3 Route Management Sample Test
    form(action='/route_management', method='POST')
        input(type='submit', value='submit')
h3 Route Manage
    form(action='/manage_route', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | date :
        input(type='text', name='date')
        | user_id :
        input(type='text', name='user_id')
        | data :
        input(type='text', name='data')
        input(type='submit', value='submit')
h3 Enable Routing For User
    form(action='/enable_routing', method='POST')
        | token :
        input(type='text', name='access_token')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
