
html
    head
        title= "Real time web chat"
    Script
        include socket1.js
        include socket.js
    body
        #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            input.field(value=config.get('apiLink'), id='apilink')
            input.send(type='button', value='connect', id='connect')