doctype html
h3 add_templates
    form(action='/analytics_test', method='POST')
        input(type='submit', value='submit')

h3 insert_previous_data
    form(action='/insert_previous_data', method='POST')
        | data_range :
        input(type='text', name='data_range')
        | initial :
        input(type='text', name='initial')
        input(type='submit', value='submit')