doctype html
h3 USER_LOGIN
  form(action='/user_login', method='POST')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    input(type='submit', value='submit')
h3 user_login_via_access_token
    form(action='/user_login_via_access_token', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 REGISTER_USER
  form(action='/register_user', method='POST')
    | name :
    input(type='text', name='name')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | company_name :
    input(type='text', name='company_name')
    | timezone :
    input(type='text', name='timezone')
    input(type='submit', value='submit')
h3 REGISTER
    form(action='/register', method='POST')
        | it_self :
        input(type='text', name='it_self')
        | name :
        input(type='text', name='name')
        | email :
        input(type='text', name='email')
        | password :
        input(type='text', name='password')
        | phone :
        input(type='text', name='phone')
        | company_name :
        input(type='text', name='company_name')
        | company_address :
        input(type='text', name='company_address')
        | timezone :
        input(type='text', name='timezone')
        | step :
        input(type='text', name='step')
        | access_token :
        input(type='text', name='access_token')
        | team_name :
        input(type='text', name='team_name')
        | layout_type :
        input(type='text', name='layout_type')
        input(type='submit', value='submit')
h3 VERIFY_USER_ACCOUNT
    form(action='/verify_user_account', method='POST')
        | verification_token :
        input(type='text', name='verification_token')
        | email :
        input(type='text', name='email')
        input(type='submit', value='submit')
h3 VIEW_ALL_JOBS
    form(action='/view_all_jobs', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 USER_CHANGE_PASSWORD
    form(action='/users_change_password', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | old_password :
        input(type='text', name='old_password')
        | new_password :
        input(type='text', name='new_password')
        input(type='submit', value='submit')
h3 VIEW_ALL_FLEETS
    form(action='/view_all_fleets', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | team_id :
        input(type='text', name='team_id')
        | tags :
        input(type='text', name='tags')
        input(type='submit', value='submit')
h3 ADD_FLEET
    form(action='/add_fleet', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | email :
        input(type='text', name='email')
        | phone :
        input(type='text', name='phone')
        | name
        input(type='text', name='name')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 CREATE_FLEET_ACCOUNT
    form(action='/create_fleet_account', method='POST', enctype='multipart/form-data')
        | email :
        input(type='text', name='email')
        | password :
        input(type='text', name='password')
        | phone :
        input(type='text', name='phone')
        | name
        input(type='text', name='name')
        | timezone :
        input(type='text', name='timezone')
        | device_type :
        input(type='text', name='device_type')
        | device_token :
        input(type='text', name='device_token')
        | fleet_image :
        input(type='file', name='fleet_image')
        | transport_type
        input(type='text', name='transport_type')
        | transport_desc :
        input(type='text', name='transport_desc')
        | license :
        input(type='text', name='license')
        | color :
        input(type='text', name='color')
        input(type='submit', value='submit')
h3 EDIT_FLEET_ACCOUNT
    form(action='/edit_profile_information', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | name :
        input(type='text', name='name')
        | timezone :
        input(type='text', name='timezone')
        | device_type :
        input(type='text', name='device_type')
        | device_token :
        input(type='text', name='device_token')
        | transport_type :
        input(type='text', name='transport_type')
        | transport_desc :
        input(type='text', name='transport_desc')
        | license :
        input(type='text', name='license')
        | color :
        input(type='text', name='color')
        | phone :
        input(type='text', name='phone')
        | fleet_image :
        input(type='file', name='fleet_image')
        input(type='submit', value='submit')
h3 FLEET_LOGIN
    form(action='/fleet_login', method='POST')
        | email :
        input(type='text', name='email')
        | password :
        input(type='text', name='password')
        | device_type :
        input(type='text', name='device_type')
        | device_token :
        input(type='text', name='device_token')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        | app_version :
        input(type='text', name='app_version')
        input(type='submit', value='submit')
h3 FLEET_ACCESS_TOKEN_LOGIN
    form(action='/fleet_access_token_login', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | device_type :
        input(type='text', name='device_type')
        | device_token :
        input(type='text', name='device_token')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        | app_version :
        input(type='text', name='app_version')
        input(type='submit', value='submit')
h3 FLEET_CHANGE_PASSWORD
    form(action='/fleet_change_password', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | old_password :
        input(type='text', name='old_password')
        | new_password :
        input(type='text', name='new_password')
        input(type='submit', value='submit')
h3 CREATE_JOB
    form(action='/create_task', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | customer_email :
        input(type='text', name='customer_email')
        | customer_phone :
        input(type='text', name='customer_phone')
        | customer_username
        input(type='text', name='customer_username')
        | customer_address :
        input(type='text', name='customer_address')
        | job_delivery_datetime :
        input(type='text', name='job_delivery_datetime')
        | customer_latitude :
        input(type='text', name='latitude')
        | customer_longitude :
        input(type='text', name='longitude')
        | job_pickup_name :
        input(type='text', name='job_pickup_name')
        | job_pickup_phone :
        input(type='text', name='job_pickup_phone')
        | job_pickup_dateime :
        input(type='text', name='job_pickup_datetime')
        | job_pickup_latitude :
        input(type='text', name='job_pickup_latitude')
        | job_pickup_longitude :
        input(type='text', name='job_pickup_longitude')
        | job_pickup_address :
        input(type='text', name='job_pickup_address')
        | job_description :
        input(type='text', name='job_description')
        | fleet_id :
        input(type='text', name='fleet_id')
        | timezone :
        input(type='text', name='timezone')
        | job_id :
        input(type='text', name='job_id')
        | has_pickup :
        input(type='text', name='has_pickup')
        | has_delivery :
        input(type='text', name='has_delivery')
        | layout_type :
        input(type='text', name='layout_type')
        | tracking_link :
        input(type='text', name='tracking_link')
        input(type='submit', value='submit')
h3 VIEW_JOBS
    form(action='/view_jobs', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | current_local_date :
        input(type='text', name='current_local_date')
        input(type='submit', value='submit')
h3 CHANGE_JOB_STATUS
    form(action='/change_job_status', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_status :
        input(type='text', name='job_status')
        | session_id :
        input(type='text', name='session_id')
        input(type='submit', value='submit')
h3 UPDATE_FLEET_LOCATION
    form(action='/update_fleet_location', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        | location :
        input(type='text', name='location')
        input(type='submit', value='submit')
h3 VIEW_JOB_DETAILS
    form(action='/view_job_details', method='POST')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 VIEW_CUSTOMERS
    form(action='/view_customers', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 VIEW_HASH
    form(action='/task_information', method='POST')
        | hash :
        input(type='text', name='hash')
        input(type='submit', value='submit')
h3 VIEW_TEMPLATE
    form(action='/view_template', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 INSERT_UPDATE_TEMPLATE_TEXT
    form(action='/insert_template_text', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | template_key :
        input(type='text', name='template_key')
        | email_text :
        input(type='text', name='email_text')
        | email_subject :
        input(type='text', name='email_subject')
        | sms_text :
        input(type='text', name='sms_text')
        input(type='submit', value='submit')
h3 VIEW_TEMPLATE_VARIABLES
    form(action='/view_template_variables', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | template_key :
        input(type='text', name='template_key')
        input(type='submit', value='submit')
h3 PREVIEW_MESSAGE
    form(action='/preview_message', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | message :
        input(type='text', name='message')
        | preview_type :
        input(type='text', name='preview_type')
        input(type='submit', value='submit')
h3 CREATE_TEAM
    form(action='/create_team', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | team_name :
        input(type='text', name='team_name')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        | dispatcher_ids :
        input(type='text', name='dispatcher_ids')
        input(type='submit', value='submit')
h3 VIEW_TEAM
    form(action='/view_team', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 UPDATE_TEAM
    form(action='/update_team', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | team_name :
        input(type='text', name='team_name')
        | team_id :
        input(type='text', name='team_id')
        | fleet_ids :
        input(type='text', name='fleet_ids')
        | dispatcher_ids :
        input(type='text', name='dispatcher_ids')
        input(type='submit', value='submit')
h3 DELETE_TEAM
    form(action='/delete_team', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | team_id :
        input(type='text', name='team_id')
        | is_force :
        input(type='text', name='is_force')
        input(type='submit', value='submit')
h3 VIEW_ALL_FLEETS_LOCATION
    form(action='/view_all_fleets_location', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | address :
        input(type='text', name='address')
        input(type='submit', value='submit')
h3 BLOCK_UNBLOCK_FLEET_ACCOUNT
    form(action='/block_and_unblock_fleet_account', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | fleet_id :
        input(type='text', name='fleet_id')
        | block_status :
        input(type='text', name='block_status')
        input(type='submit', value='submit')
h3 DELETE_FLEET_ACCOUNT
    form(action='/delete_fleet_account', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | fleet_id :
        input(type='text', name='fleet_id')
        input(type='submit', value='submit')
h3 VIEW_SCREEN
    form(action='/view_screen', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | screen_type :
        input(type='text', name='screen_type')
        | screen_value :
        input(type='text', name='screen_value')
        input(type='submit', value='submit')
h3 DELETE_JOB
    form(action='/delete_job', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 EDIT_JOB
    form(action='/edit_task', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | customer_email :
        input(type='text', name='customer_email')
        | customer_phone :
        input(type='text', name='customer_phone')
        | customer_username
        input(type='text', name='customer_username')
        | customer_address :
        input(type='text', name='customer_address')
        | job_delivery_datetime :
        input(type='text', name='job_delivery_datetime')
        | customer_latitude :
        input(type='text', name='latitude')
        | customer_longitude :
        input(type='text', name='longitude')
        | job_pickup_name :
        input(type='text', name='job_pickup_name')
        | job_pickup_phone :
        input(type='text', name='job_pickup_phone')
        | job_pickup_dateime :
        input(type='text', name='job_pickup_datetime')
        | job_pickup_latitude :
        input(type='text', name='job_pickup_latitude')
        | job_pickup_longitude :
        input(type='text', name='job_pickup_longitude')
        | job_pickup_address :
        input(type='text', name='job_pickup_address')
        | job_description :
        input(type='text', name='job_description')
        | fleet_id :
        input(type='text', name='fleet_id')
        | timezone :
        input(type='text', name='timezone')
        | pickup_delivery_relationship :
        input(type='text', name='pickup_delivery_relationship')
        | has_pickup :
        input(type='text', name='has_pickup')
        | layout_type :
        input(type='text', name='layout_type')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 RESET_NOTIFICATION_COUNT
    form(action='/reset_notification_count', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 RESET_NOTIFICATION_STATUS
    form(action='/reset_notification_status', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | notification_id :
        input(type='text', name='notification_id')
        input(type='submit', value='submit')
h3 CHECK_NOTIFICATIONS
    form(action='/check_notifications', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 EDIT_FLEET_PROFILE_ACCOUNT
    form(action='/edit_fleet_profile_information', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | name :
        input(type='text', name='name')
        | timezone :
        input(type='text', name='timezone')
        | device_type :
        input(type='text', name='device_type')
        | device_token :
        input(type='text', name='device_token')
        | transport_type :
        input(type='text', name='transport_type')
        | transport_desc :
        input(type='text', name='transport_desc')
        | license :
        input(type='text', name='license')
        | color :
        input(type='text', name='color')
        | phone :
        input(type='text', name='phone')
        | team_ids :
        input(type='text', name='team_ids')
        | fleet_id :
        input(type='text', name='fleet_id')
        | image_flag :
        input(type='text', name='image_flag')
        | fleet_image :
        input(type='file', name='fleet_image')
        input(type='submit', value='submit')
h3 ACCOUNT_SETTINGS
    form(action='/account_settings', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | name :
        input(type='text', name='name')
        | phone :
        input(type='text', name='phone')
        | org_name :
        input(type='text', name='org_name')
        | org_address :
        input(type='text', name='org_address')
        | country :
        input(type='text', name='country')
        | country_phone_code :
        input(type='text', name='country_phone_code')
        | is_company_image_view :
        input(type='text', name='is_company_image_view')
        | is_driver_image_view :
        input(type='text', name='is_driver_image_view')
        | is_image :
        input(type='text', name='is_image')
        | company_image :
        input(type='file', name='company_image')
        input(type='submit', value='submit')
h3 ROUTING_SETTINGS
    form(action='/routing_settings', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | constraint_type :
        input(type='text', name='constraint_type')
        input(type='submit', value='submit')
h3 UPDATE_JOB_ACKNOWLEDGEMENT
    form(action='/update_job_acknowledgement', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | acknowledgement_status :
        input(type='text', name='acknowledgement_status')
        | acknowledgement_text :
        input(type='text', name='acknowledgement_text')
        | session_id :
        input(type='text', name='session_id')
        | acknowledgement_image :
        input(type='file', name='acknowledgement_image')
        input(type='submit', value='submit')
h3 FIND_CUSTOMER_WITH_PHONE
    form(action='/find_customer_with_phone', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | customer_phone :
        input(type='text', name='customer_phone')
        input(type='submit', value='submit')
h3 VIEW_JOBS_WITH_FILTERS
    form(action='/view_jobs_with_filters', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_type :
        input(type='text', name='job_type')
        | job_status :
        input(type='text', name='job_status')
        input(type='submit', value='submit')
h3 VIEW_CUSTOMER_PROFILE
    form(action='/view_customer_profile', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | customer_id :
        input(type='text', name='customer_id')
        input(type='submit', value='submit')
h3 VIEW_FLEET_PROFILE
    form(action='/view_fleet_profile', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | fleet_id :
        input(type='text', name='fleet_id')
        input(type='submit', value='submit')
h3 UPDATE_TASK_VIA_DASHBOARD
    form(action='/update_task_via_dashboard', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_status :
        input(type='text', name='job_status')
        input(type='submit', value='submit')
h3 UPDATE_TASK_IMAGE
    form(action='/upload_task_image', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_image :
        input(type='file', name='job_image')
        | notes :
        input(type='text', name='notes')
        | datetime :
        input(type='text', name='datetime')
        | has_image :
        input(type='text', name='has_image')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        input(type='submit', value='submit')
h3 DELETE_TASK_IMAGE
    form(action='/delete_task_image', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_image_id :
        input(type='text', name='job_image_id')
        input(type='submit', value='submit')
h3 ENABLE_OR_DISABLE_NOTIFICATION
    form(action='/enable_or_disable_notification', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | status :
        input(type='text', name='status')
        | sms_status :
        input(type='text', name='sms_status')
        | template_key :
        input(type='text', name='template_key')
        input(type='submit', value='submit')
h3 VIEW_NOTIFICATION_JOB_DETAILS
    form(action='/view_notification_job_details', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 CUSTOMER_RATING
    form(action='/customer_rating', method='POST')
        | job_id :
        input(type='text', name='job_id')
        | rating :
        input(type='text', name='rating')
        | customer_comment :
        input(type='text', name='customer_comment')
        input(type='submit', value='submit')
h3 ADD_DISPATCHER
    form(action='/add_dispatcher', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | email :
        input(type='text', name='email')
        | name :
        input(type='text', name='name')
        | phone :
        input(type='text', name='phone')
        | task_access :
        input(type='text', name='task_access')
        | add_driver_access
        input(type='text', name='add_driver_access')
        | dispatcher_teams
        input(type='text', name='dispatcher_teams')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 UPDATE_DISPATCHER
    form(action='/update_dispatcher', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | email :
        input(type='text', name='email')
        | name :
        input(type='text', name='name')
        | phone :
        input(type='text', name='phone')
        | task_access :
        input(type='text', name='task_access')
        | add_driver_access
        input(type='text', name='add_driver_access')
        | dispatcher_teams
        input(type='text', name='dispatcher_teams')
        | dispatcher_id
        input(type='text', name='dispatcher_id')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 VIEW_DISPATCHER
    form(action='/view_all_dispatcher', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 CHECK_FLEET_CURRENT_JOBS
    form(action='/checkFleetCurrentJobs', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_pickup_datetime :
        input(type='text', name='job_pickup_datetime')
        | job_delivery_datetime :
        input(type='text', name='job_delivery_datetime')
        | fleet_id :
        input(type='text', name='fleet_id')
        input(type='submit', value='submit')
h3 VIEW_TASK_PROFILE
    form(action='/view_task_profile', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 VIEW_BOTH_TASK_PROFILE
    form(action='/view_task_details', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 VIEW_TASK_PROFILE_FROM_ORDER_ID
    form(action='/view_task_from_order_id', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | order_id :
        input(type='text', name='order_id')
        | user_id :
        input(type='text', name='user_id')
        input(type='submit', value='submit')
h3 upload_task_details
    form(action='/upload_task_details', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_image :
        input(type='file', name='job_image')
        | notes :
        input(type='text', name='notes')
        | datetime :
        input(type='text', name='datetime')
        | has_image :
        input(type='text', name='has_image')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        input(type='submit', value='submit')
h3 edit_task_details
    form(action='/edit_task_details', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | job_image :
        input(type='file', name='job_image')
        | notes :
        input(type='text', name='notes')
        | datetime :
        input(type='text', name='datetime')
        | has_image :
        input(type='text', name='has_image')
        | latitude :
        input(type='text', name='latitude')
        | longitude :
        input(type='text', name='longitude')
        | appointment_field_data_id :
        input(type='text', name='appointment_field_data_id')
        input(type='submit', value='submit')
h3 change_fleet_status
    form(action='/change_fleet_status', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | is_available :
        input(type='text', name='is_available')
        input(type='submit', value='submit')
h3 send_update_push
    form(action='/send_update_push', method='POST')
        | device_type :
        input(type='text', name='device_type')
        | message :
        input(type='text', name='message')
        input(type='submit', value='submit')
h3 CHANGE_JOB_STATUS_NEW
    form(action='/change_job_status_new', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 STEP_IN (GET ALL JOB AND FLEET DETAILS)
    form(action='/getJobAndFleetDetails', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | team_id :
        input(type='text', name='team_id')
        | user_id :
        input(type='text', name='user_id')
        | date :
        input(type='text', name='date')
        input(type='submit', value='submit')
h3 VIEW_TASKS_FOR_FLEET
    form(action='/view_tasks', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | month :
        input(type='text', name='month')
        | year :
        input(type='text', name='year')
        input(type='submit', value='submit')
h3 VIEW_TASKS_FOR_DATE
    form(action='/view_tasks_for_date', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | date :
        input(type='text', name='date')
        input(type='submit', value='submit')
h3 VIEW_TASK_VIA_ID
    form(action='/view_task_via_id', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 UPDATE_WORKFLOW
    form(action='/update_workflow', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | layout_type :
        input(type='text', name='layout_type')
        input(type='submit', value='submit')
h3 VIEW_FLEET_NOTIFICATION
    form(action='/view_fleet_notifications', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 INSERT_FLEET_NOTIFICATION
    form(action='/insert_fleet_notification', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | notification_text :
        input(type='text', name='notification_text')
        | minutes_before_task_starts :
        input(type='text', name='minutes_before_task_starts')
        input(type='submit', value='submit')
h3 UPDATE_FLEET_NOTIFICATION
    form(action='/update_fleet_notification', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | notification_text :
        input(type='text', name='notification_text')
        | minutes_before_task_starts :
        input(type='text', name='minutes_before_task_starts')
        | is_enabled :
        input(type='text', name='is_enabled')
        | fleet_notification_id :
        input(type='text', name='fleet_notification_id')
        input(type='submit', value='submit')
h3 DELETE_FLEET_NOTIFICATION
    form(action='/delete_fleet_notification', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | fleet_notification_id :
        input(type='text', name='fleet_notification_id')
        input(type='submit', value='submit')
h3 import_tasks_csv
    form(action='/import_tasks_csv', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | tasks_csv :
        input(type='file', name='tasks_csv')
        | timezone :
        input(type='text', name='timezone')
        input(type='submit', value='submit')
h3 export_task
    form(action='/export_tasks', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | type :
        input(type='text', name='type')
        | start_date :
        input(type='text', name='start_date')
        | end_date :
        input(type='text', name='end_date')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 Assign_fleet_to_task
    form(action='/assign_fleet_to_task', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | fleet_id :
        input(type='text', name='fleet_id')
        input(type='submit', value='submit')
h3 Reassign_fleet_to_task
    form(action='/reassign_fleet_to_task', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_token :
        input(type='text', name='job_token')
        | fleet_id :
        input(type='text', name='fleet_id')
        input(type='submit', value='submit')
h3 UPDATE_ACTION
    form(action='/update_action', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | action_type :
        input(type='text', name='action_type')
        | value :
        input(type='text', name='value')
        input(type='submit', value='submit')
h3 FLEET_ADD_TASK_DETAILS
    form(action='/add_task_details', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | text :
        input(type='text', name='text')
        | job_id :
        input(type='text', name='job_id')
        | type :
        input(type='text', name='type')
        | image :
        input(type='file', name='image')
        input(type='submit', value='submit')
h3 FLEET_DELETE_TASK_DETAILS
    form(action='/delete_task_detail', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | type :
        input(type='text', name='type')
        | task_history_id :
        input(type='text', name='id')
        input(type='submit', value='submit')
h3 FLEET_UPDATE_TASK_DETAILS
    form(action='/update_task_detail', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        | type :
        input(type='text', name='type')
        | text :
        input(type='text', name='text')
        | image :
        input(type='file', name='image')
        | task_history_id :
        input(type='text', name='id')
        input(type='submit', value='submit')
h3 get_user_layout_fields
    form(action='/get_user_layout_fields', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | layout_type :
        input(type='text', name='layout_type')
        input(type='submit', value='submit')
h3 send_education_series
    form(action='/send_education_series', method='POST')
        input(type='submit', value='submit')
h3 send_weekly_report
    form(action='/send_weekly_report', method='POST')
        | email :
        input(type='text', name='email')
        input(type='submit', value='submit')
h3 Export_customers
    form(action='/export_customers', method='POST')
        | access_token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3 Import_Customers
    form(action='/import_customers_csv', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | customers_csv :
        input(type='file', name='customers_csv')
        input(type='submit', value='submit')
h3 UPDATE_CUSTOM_FIELDS_OF_TASK_VIA_FLEET
    form(action='/update_custom_fields', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | custom_field_label :
        input(type='text', name='custom_field_label')
        | job_id :
        input(type='text', name='job_id')
        | data :
        input(type='text', name='data')
        | custom_image :
        input(type='file', name='custom_image')
        input(type='submit', value='submit')
h3 get_task_options FIELDS
    form(action='/get_task_options', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')
h3 export_customers_rating
    form(action='/export_customers_rating', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | type :
        input(type='text', name='type')
        input(type='submit', value='submit')
h3 upload_ref_images
    form(action='/upload_ref_images', method='POST', enctype='multipart/form-data')
        | access_token :
        input(type='text', name='access_token')
        | user_id :
        input(type='text', name='user_id')
        | ref_image :
        input(type='file', name='ref_image')
        input(type='submit', value='submit')
h3 get_extras
    form(action='/get_extras', method='POST')
        | access_token :
        input(type='text', name='access_token')
        | job_id :
        input(type='text', name='job_id')
        input(type='submit', value='submit')






